html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

#comments-box
{
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 40px auto 0;
	width: 960px;

	#comments-list
	{
		> li
		{
			padding: 20px;

			+ li { border-top: 1px solid #ccc; }

			&:nth-child(even) { background: #eee; }

			.author
			{
				margin: 0 0 15px;

				> span
				{
					display: block;
					margin: 5px 0;
				}
			}

			.author-name { font-weight: bold; }
		}
	}

	#comments-form
	{
		margin: 40px 0 0;

		label
		{
			display: inline-block;
			vertical-align: top;
			width: 100px;
		}

		button
		{
			background: #eee;
			border: 0;
			padding: 5px;
		}

		textarea
		{
			height: 100px;
			width:  300px;
		}

		.row-form { margin: 10px 0; }
	}
}